<h1>Score</h1>
<p>--------------</p>

<p><%= @start_time %></p>
<p><%= @end_time %></p>
<p><%= @attempt %></p>
<p><%= @grid %></p>

<p>--------------</p>

<p><%= @result[:message] %></p>
<p>Your score is :<%= @result[:score] %></p>
<p>Your performance (time) :<%= @result[:time] %></p>
